[Unit]
Description=theOS Recovery Environment
After=emergency.target
Wants=basic.target systemd-logind.service
DefaultDependencies=false

[Service]
ExecStart=/usr/bin/theos-recovery

[Install]
WantedBy=emergency.target
